# Initialization

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import StrMethodFormatter
%matplotlib inline
import scipy.stats as stats
import seaborn as sns
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import RandomOverSampler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from imblearn.over_sampling import SMOTE
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score, precision_recall_fscore_support, roc_curve, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score, precision_recall_fscore_support, roc_curve, f1_score
from sklearn.metrics import roc_auc_score 
from sklearn.model_selection import cross_validate
from sklearn.feature_extraction.text import TfidfVectorizer
from IPython.display import Image
from IPython.core.display import HTML 
from sklearn.metrics.pairwise import linear_kernel
from ast import literal_eval
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from surprise import SVD, Reader
from surprise import Dataset
from surprise.model_selection import cross_validate

## Loading Data

In [2]:
#To run the code, you can change this path to the desired one
df1=pd.read_csv(r"/Users/alinikkhah/Final_Ml_Projects/Movie_Recommendation_Engine/movies_metadata.csv")
df2=pd.read_csv(r"/Users/alinikkhah/Final_Ml_Projects/Movie_Recommendation_Engine/credits.csv")
df3=pd.read_csv(r"/Users/alinikkhah/Final_Ml_Projects/Movie_Recommendation_Engine/keywords.csv")
df4=pd.read_csv(r"/Users/alinikkhah/Final_Ml_Projects/Movie_Recommendation_Engine/links.csv")
df5=pd.read_csv(r"/Users/alinikkhah/Final_Ml_Projects/Movie_Recommendation_Engine/ratings.csv")
df6=pd.read_csv(r"/Users/alinikkhah/Final_Ml_Projects/Movie_Recommendation_Engine/links_small.csv")
df7=pd.read_csv(r"/Users/alinikkhah/Final_Ml_Projects/Movie_Recommendation_Engine/ratings_small.csv")

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df1 = df1.drop([19730, 29503, 35587])
df1=df1.iloc[0:9000,:]
df1.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [4]:
df2.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862